html {
  height: 100%; }

body {
  height: 100%;
  width: 100%;
  background-image: url("https://i.stack.imgur.com/8zEoh.png");
  background-repeat: no-repeat;
  background-size: cover; }
  body .input-box {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .input-box input {
      height: 20px;
      width: 60%;
      border-radius: 3px;
      font-size: 12px; }
    body .input-box button {
      margin-left: 10px; }

.task-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.checkbox {
  margin-left: .05ex;
  margin-bottom: 3px; }
