html{
  height: 100%;
}
body{
  width: 100%;

  .input-box{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    input{
      height: 20px;
      width: 60%;
      border-radius: 3px;
      font-size: 12px;
    }
    button{
      margin-left: 10px;
    }
  }
}